// Color inspiration from http://colormind.io/bootstrap/
$brand_color: #F05F36;
$dark_accent: #C68B86;
$dark_shade: #30293C;
$light_shade: #F7F8F6;
$light_accent: #DCA1A6;

$error_color: #F44336;
$info_color: #18151D;
$success_color: #7D9748;
$warning_color: #FB8710;

// defined for use later
$headings: h1 h2 h3 h4 h5 h6;
