// Color inspiration from http://colormind.io/bootstrap/

// main color
$brand_color: #F05F36;

// background colors
$dark_accent: #B58178;
$dark_shade: #30293C;
$light_shade: #F7F8F6;
$light_accent: #DCA1A6;
$default_background: $dark_shade;

// foreground colors
$default_color: $light_shade; // default to light shade, dark shade should be our default background
$error_color: #F44336;
$info_color: #18151D;
$success_color: #7D9748;
$warning_color: #FB8710;

// breakpoints: min-width - match pure css
// https://pure-css.github.io/grids/#pure-responsive-grids
$breakpoint_sm: 35.5em; // 568px
$breakpoint_md: 48em; // 768px
$breakpoint_lg: 64em; // 1024px
$breakpoint_xl: 80em; // 1280px
$breakpoint_xxl: 120em; // 1920px
$breakpoint_xxxl: 160em; // 2560px
$breakpoint_x4k: 240em; // 3840px

// defined for use later
$headings: h1 h2 h3 h4 h5 h6;
$header_height: 6em;
