@use "variables";
@use "mixins/link";

#body {
  background-color: variables.$default_background;
  color: variables.$default_color;
}

@media screen {
  #header {
    background-color: variables.$brand_color;
    color: variables.$default_color;
    display: flex;
    height: variables.$header_height;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;

    @media (min-width: variables.$breakpoint_lg) {
      align-items: end;
    }

    .logo {
      color: variables.$default_color;
      display: flex;
      gap: 1rem;
      padding: 0.8rem 1.6rem;

      .image {
        .avatar {
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          box-shadow: 0 0 0.6em -0.2em variables.$default_background;
          box-sizing: border-box;
          display: block;
          height: calc(0.7 * variables.$header_height);
          width: auto;
        }
      }

      .title {
        display: flex;
        flex-direction: column;

        .headline {
          margin: 0;
          overflow: initial;
        }

        .sub-headline {
          margin: 0;
          overflow: initial;
        }
      }
    }
  }

  #footer {
    font-size: 1.1em;
    padding: 8rem 1rem;

    a:not(.button) {
      color: inherit;
    }

    .content {
      display: flex;
      justify-content: center;
      overflow: initial;
      text-align: center;

      @media (max-width: variables.$breakpoint_lg) {
        flex-direction: column;

        & > .icon {
          display: none;
        }
      }

      .link {
        @include link.icon;
      }

      > * {
        padding: 1rem;
      }
    }
  }

  .header-visible {
    overflow-y: hidden;

    #header {
      flex-direction: column;
      height: 100vh;

      .primary {
        display: block;
      }

      .social {
        margin-left: revert;
      }
    }
  }

  #content {
    margin-top: variables.$header_height;
  }
}
