@use "../variables";
@use "../mixins/font";

.navigation {
  & > .list {
    font-size: 0;
  }

  .item {
    font-size: 1.2rem;
  }

  .link, .link:focus {
    background-color: variables.$brand_color;
    color: variables.$light_shade;
  }

  .link:hover, .active .link {
    background-color: variables.$light_shade;
    color: variables.$brand_color;
  }
}
