@use "../variables";

.primary {
  display: none;

  @media (min-width: variables.$breakpoint_large) {
    display: block;
    font-size: 0.9em;
    margin-left: auto;
  }

  .link .icon {
    margin-right: 0.5rem;
  }
}

.body.header-visible .primary {
  display: block;
}
