@use "../variables";

.primary {
  display: none;

  @media (min-width: variables.$breakpoint_large) {
    display: block;
    margin-left: auto;

    .item {
      font-size: 1.8rem;
    }
  }

  .link .icon {
    margin-right: 0.5rem;
  }
}

.body.header-visible .primary {
  display: block;
}
