@use "../variables";

.social {
  ul {
    display: flex;
    justify-content: center;
  }
}

.social .link {
  border-radius: 1rem;
  font-size: 2.5rem;
  line-height: 1;
  padding: 0.5rem;

  &:hover {
    box-shadow: 0 0.1rem 0.1rem 0.1rem rgba(variables.$light_shade, 0.4);
  }
}
