.experience {
  margin: 2em 0;

  .header {
    display: grid;
    grid-template-columns: 1fr auto;

    .company,.employment,.location,.position {
      font-size: 1em;
      margin: 0;
    }

    .company,.location {
      text-align: left;
    }

    .employment,.position {
      text-align: right;
    }

    .company {
      font-size: 1.2em;
    }
  }

  .body {
    margin: 0.5em 1em 1em 1em;

    .richtext > p {
      margin: 1em 0;
    }
  }

  .shortDescription {
    display: none;

    @media print {
      display: revert;

      ~ .body {
        display: none;
      }
    }
  }

  @media print {
    &.personal {
      .experience__header {
        .position, .employment {
          display: none;
        }
      }
    }
  }
}
