@use "../variables";

.form {
  & input, textarea {
    width: 100%;
  }

  textarea {
    height: 20rem;
  }

  .container {
    @media (min-width: 480.1px) {
      input, textarea {
        width: calc(100% - 12em);
      }
    }
  }
}
