@use "../variables";

.form {
  .container {
    & .input, .textarea {
      width: 100%;
    }

    .textarea {
      height: 20em;
    }

    @media (min-width: 480.1px) {
      .input, .textarea {
        width: calc(100% - 12em);
      }
    }
  }

  &.dark {
    .legend {
      border-color: variables.$light_accent;
      color: variables.$light_shade;
    }
  }

  .legend {
    border-color: variables.$dark_accent;
    color: variables.$dark_shade;
    padding: 0;
    margin: 0;
  }
}
