@use "../variables";

.panel, .section .panel {
  background-color: variables.$light_shade;
  border-radius: 1em;
  box-shadow: 0 0.06em 0.06em 0.06em rgba(variables.$light_shade, 0.6);
  color: variables.$dark_shade;
  margin: 2em 0;
  padding: 1.2em;

  @media (min-width: variables.$breakpoint_sm) {
    margin: 2em;
  }

  &.dark {
    background-color: variables.$dark_shade;
    box-shadow: 0 0.06em 0.06em 0.06em rgba(variables.$dark_shade, 0.6);
    color: variables.$light_shade;

    &.accent {
      background-color: variables.$dark_accent;

      .headline > .icon {
        color: variables.$light_shade;
      }
    }
  }

  &:not(.dark):not(.accent):not(.brand) {
    .headline > .icon {
      color: variables.$dark_accent;
    }

    .footer .button {
      background-color: variables.$dark_shade;
      color: variables.$light_shade;
      box-shadow: 0 0.06em 0.06em 0.06em rgba(variables.$dark_shade, 0.4);

      .icon {
        color: variables.$light_accent;
      }
    }
  }

  &.accent {
    background-color: variables.$light_accent;
    box-shadow: 0 0.06em 0.06em 0.06em rgba(variables.$light_accent, 0.6);

    .headline > .icon {
      color: variables.$dark_shade;
    }

    .footer .button .icon {
      color: variables.$brand_color;
    }
  }

  &.brand {
    background-color: variables.$brand_color;
    box-shadow: 0 0.06em 0.06em 0.06em rgba(variables.$brand_color, 0.6);
    color: variables.$light_shade;

    .headline > .icon {
      color: variables.$light_shade;
    }

    .footer .button .icon {
      color: variables.$dark_accent;
    }
  }

  .footer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    justify-content: flex-end;

    &.centered {
      justify-content: center;
    }

    .button {
      border-radius: 0.5em;
    }
  }
}
