@use "../mixins/link";
@use "../variables";

.resume {
  background-color: variables.$light_shade;
  color: variables.$dark_shade;
  padding: 2em;

  a, a:visited {
    color: blue;

    @include link.icon;
  }

  p {
    margin: 0;
  }

  > .header {
    border-bottom: 0.06em solid black;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1em;

    > * {
      flex-basis: 50%;
      flex-grow: 1;
      > * {
        white-space: nowrap;
      }
    }

    .title {
      flex-basis: 100%;
      text-align: center;
    }

    .left {
      text-align: left;
    }

    .right {
      text-align: right;
    }
  }

  .section {
    box-shadow: none;

    @media print {
      break-inside: avoid;
    }

    > .header, &.skills > .richtext h2 {
      border-bottom: 0.06em solid black;
      border-top: 0.06em solid black;
    }

    .content {
      margin: 1em;
    }
  }

  .skills {
    h3 {
      margin: 0 1em;

      & + p {
        margin: 0 2em;
      }
    }
  }
}
