@use "../variables";

.section {
  background-color: variables.$light_shade;
  box-shadow:
    0 1rem 1rem rgba(variables.$dark_shade, 0.4) inset, // above
    0 -1rem 1rem rgba(variables.$dark_shade, 0.4) inset; // below
  color: variables.$dark_shade;
  margin: 0 auto;
  padding: 3em;
  scroll-margin-top: variables.$header_height;

  @media (min-width: variables.$breakpoint_md) {
    padding: 3em 10%;
  }

  @media (min-width: variables.$breakpoint_xl) {
    padding: 3em 15%;
  }

  &.dark {
    background-color: variables.$dark_shade;
    box-shadow: none;
    color: variables.$light_shade;

    .headline > .icon {
      color: variables.$light_accent;
    }
  }

  .headline {
    margin: 0;

    & > .icon {
      color: variables.$dark_accent;
      margin-right: 0.3em;
    }
  }
}
